/* The <h2> element is a block element so the background color here
   will go accross the full screen.
*/

h2 {
    color: teal;
    background-color: rgb(89,151,0);
}

button {
    color: magenta;
    background-color: cyan;
}

/* background is not the same property as background-color
   and is normally used for different things, even though
   it works in our eample.

   The <p> element is a block element so the background color here
   will go accross the full screen.
*/

p {
    color: olive;
    background: rgb(255,255,255);
}


body {
    background-color: #C5E;
}



